* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

:root {
  --standard_txt_cl: #FFFFFF;
  --bg-cl: #000000;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;
}

body {
  background-color: var(--bg-cl);
  font-family: "Source Sans 3", sans-serif;
  color: var(--standard_txt_cl);
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  max-width: 585px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav_list {
  display: flex;
  align-items: center;
  column-gap: 28px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.hero_left {
  display: flex;
  flex-direction: column;
}

.hero_content_txt {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.hero_content {
  display: flex;
  align-items: center;
}